.btn-modern {
    background-color: grey;
    padding: auto;
    cursor:grab;
    transition: all 0.4 ease;

}

.btn-modern:hover{
    transform:translateY(-5%);
    background-color: green;
color:white;

}