* {
    padding: 0;
    margin: 0;
}

.flex {
    display:flex; 
  flex-wrap: wrap;
  gap: 10px;

}
.imagen-1 {
    background-color: aliceblue;
     width: 300px;
    
}
.imagen-2 {
    background-color: aliceblue;
     width: 300px;
    
}.imagen-3 {
    background-color: aliceblue;
     width: 300px;
    
}.imagen-4 {
    background-color: aliceblue;
     width: 300px;
    
}.imagen-5 {
    background-color: aliceblue;
     width: 300px;
    
}.imagen-6 {
    background-color: aliceblue;
     width: 300px;
    
}